
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    MENU
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <li><%= link_to "アカウント情報", user_path(current_user) %></li>
   <li><%= link_to "購入履歴", history_purchase_index_path %></li>
   <li><%= link_to "お気に入り", likes_path %></li>
   <li><%= link_to "ショッピングバッグ", current_cart %></li>
   <div class="dropdown-divider"></div>
   <li><%= link_to "ログアウト", logout_path(current_user), method: :delete %></li>
  </div>
</div>
