<div class="shopping-item-wrapper">
  <h3 class="center">ショッピングバッグ(<%= @cart_counts %>)</h3>
  <% @items.each do |item| %>
   <div class="shopping-item-info">
    <%= image_tag(item.image) %>
　  <% @cart_item = CartItem.find_by(cart_id: current_cart.id, item_id: item.id) %>
　  <ul>
　   <li><%= item.name %></li>
     <li><%= "数量:#{@cart_item.count}" %></li>
     <li><%= "¥#{item.price * @cart_item.count}" %></li>
　  </ul>
　 </div>
  <% end %>

  <div class="shopping-price-info">
   
   <div class="total-price-wrapper">
    <span class="total-price">合計</span>
    <%= "¥#{@price}(税込み)" %>
   </div>

  </div>
 </div>