<div class="admin-wrapper">
 
 <%= render 'admin/list' %>
  
 <div class="admin-right">
  <h3 class="center">商品一覧</h3>
  <div class="pc-admin-item-list">
   <table class="table">
  　 <thead>
     <tr>
      <th scope="col">ID</th>
      <th scope="col">商品名</th>
      <th scope="col">性別</th>
      <th scope="col">カテゴリー</th>
      <th scope="col">プライス</th>
      <th scope="col">在庫</th>
      <th scope="col">編集</th>
      <th scope="col">削除</th>
     </tr>
    </thead>
   <tbody>
    
    <% @items.each do |item|  %>
     <tr>
      <th scope="row"><%= item.id %></th>
      <td><%= link_to item.name, item %></td>
      <td><%= item.gender %></td>
      <td><%= item.category %></td>
      <td><%= item.price %></td>
      <td><%= item.stocks %></td>
      <td><%= link_to "編集", edit_item_path(item) %></td>
      <td><%= link_to "削除", item, method: :delete %></td>
     </tr>
    <% end %>
   </tbody>
  </table>
</div>
  