
<div class="items-wrapper">
 <% @items.each do |item| %>
   <div class="items">
    <%= link_to item do %>
     <%= image_tag(item.image) %>
    <% end %>
    <%= form_with(model: current_user.likes.find_by(item_id: item.id),html: { method: :delete }, local: true) do |f| %>
　　 <%= button_tag  '<i class="fas fa-times unlike_icon"></i>'.html_safe, :name => nil %>
　　<% end %>
    <p><%= item.name %></p>
    <p><%= "¥#{item.price}" %></p>
   </div>
 <% end %>
</div>

