<div class="admin-wrapper">
 
 <%= render 'admin/list' %>
 
 <div class="admin-right">
  <div class="list-wrapper">
    <h3 class="center">商品編集</h3>

    <%= form_with(model: @item, local: true, html: { multiple: true }) do |f| %>
     <div class="form-group">
      <%= f.label :商品名 %>
      <%= f.text_field :name, class: "form-control" %>
     </div>

     <div class="form-group">
      <%= f.label :詳細 %>
      <%= f.text_area :content, class: "form-control" %>
     </div>
  
     <div class="form-group">
      <%= f.label :プライス %>
      <%= f.text_field :price, class: "form-control" %>
     </div>

     <div class="form-group">
      <%= f.label :性別 %>
      <%= f.select :gender, ["woman", "mens"], {selected: @item.info[0].gender}, class: "form-control" %>
     </div>
  
     <div class="form-group">
      <%= f.label :カテゴリー %>
      <%= f.select :category, ["clothes", "bag", "wallet", "accessories", "shoes", "perfume"], {selected: @item.info[0].category}, class: "form-control" %>
     </div>
  
     <div class="form-group">
      <%= f.label :在庫 %>
      <%= f.text_field :stocks, class: "form-control" %>
     </div>
     
     <div>
      <%= f.label :"サムネ(1枚)" %>
      <%= f.file_field :image, class: "form-control-file" %>
      <br>
      <%= f.label :"詳細画像(4枚まで)" %>
      <%= f.file_field :images, multiple: true, class: "form-control-file" %>
      </br>
      
      <%= f.submit "保存" %>
    
     </div>
   <% end %>
  </div>
 </div>

</div>